<app-header></app-header>
<div class="container my-3">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-7">
      <div class="content__shows">
          <div>
              <img src="https://meowlivia.s3.us-east-2.amazonaws.com/codepen/avengers/p-captmarvel.jpg" alt="Movie Poster"/>
          <div class="title-box"></div>
          <div class="name">Captain Marvel</div>
        </div>
          <div>
              <img src="https://meowlivia.s3.us-east-2.amazonaws.com/codepen/avengers/p-antmanwasp.jpg" alt="Movie Poster"/>
          <div class="title-box"></div>
          <div class="name">Ant-Man and the Wasp</div>
        </div>

          <div>
              <img src="https://meowlivia.s3.us-east-2.amazonaws.com/codepen/avengers/p-iw.jpg" alt="Movie Poster"/>
          <div class="title-box"></div>
          <div class="name">Avengers: Infinity War</div>
        </div>
      </div>
    </div>
  </div>
</div>
